.window1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: #ce9206 2.5px solid;
    border-radius: 10px;
    z-index: 10;
    width: 700px;
    max-width: 80%;
    background-image: url('../img/window1.jpeg');
    background-size: 100% 100%;
}

.window1.active {
    transform: translate(-50%, -50%) scale(1);
}

.window1-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    border-bottom: #ce9206 2.5px solid;
}

.title {
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
}

.window1-body {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    padding: 8px;
}

.window1-body-text{
    max-width: 400px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
