// entry file for css

@import './styles/window.css';

body {
    cursor: none;
    height: 100%;
    background-image: url('../img/background.jpeg');
    background-position: center;
}

h1{
    color: rgb(29, 2, 120);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    margin: auto;
}

#game-canvas{
    border: 5px solid #01043c;
    width: 900px;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 18.5%;
    margin-right: 18.5%;
    margin-bottom: 20px;
}

.left-icon {
    display: flex;
    flex-direction: row;
    width: 45px;
    height: 45px;
    min-width: 180px;
    justify-content: space-between;
}

#first-icon {
    // margin-right: 50%;
    width: 45px;
    height: 45px;
}

.middle{
    height: 45px;
    // margin-left: 20%;
}

#start-button{
    color: white;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(2, 2, 96);
    border-radius: 12px;
    width: 180px;
    font-size: 25px;
    font-weight: 1000;
    border: #a6aaeb 3px solid;
    // display: flex;
}

.right-icon{
    display: flex;
    flex-direction: row;
    width: 45px;
    height: 45px;
    min-width: 130px;
    justify-content: space-between;
}

.cursor {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('../img/hand.png');
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor.active {
    height: 40px;
    width: 35px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('../img/catch.png');
    background-size: 100% 100%;
    transform: translate(-60%, -42%) rotate(-20deg);
}

#music-icon{
    display: flex;
    height: 40px;
    width: 40px;
}

#git-icon{
    width: 45px;
    height: 45px;
    // margin-left: 200%;
}

#last-icon{
    width: 45px;
    height: 45px;
}
